body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.cart {
    background-color: #fafcff;
    height: 465px;
    width: 1050px;
    border-radius: 15px;
    box-shadow: 0px 25px 40px #1687d933;    
}

.header {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.summary {
    background-color:lightgrey;
    height: 465px;
    border-radius: 0px 15px 15px 0px;
}

.title {
    font-size: 15px;
}

.product-card {
    padding-top: 20px;
}

.product-description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 0px;
    padding-right: 0px;
}

.product-image {
    width: 80px;
    height: 80px;
}

.product-details {
    padding-left: 52px;
    display: flex;
    flex-direction: column;
}

.product-price {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.product-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order-card {
    padding-left: 20px;
    padding-right: 20px;
}

.order-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
}

.order-subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 50px;
}

.order-delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 50px;
}

.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    padding-bottom: 50px;
}

.checkout {
    width: 100%;
    align-content: flex-end;
    padding: 50px;
}

.items {
    width: 25%;
    align-content: flex-end;
    padding: 50px;
}

.form-container {
    height: 425px;
    width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 25px 40px #1687d933;    
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}        

.icons {
    color:white;
}

.removeicons {
    color:#6c757d;
}